<!DOCTYPE html>
<html>
  <head>

    <title>Teachers</title>
    <meta id="teacher-data" data-teachers="{{ teachers }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style>
      .container {
        max-width: 1000px;
      }
    </style>

  </head>
  <body>
    <div class="container">

      <h1>Enter Teachers</h1>

      <table id="teachers" class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Classes</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in teachers %}
          <tr>
            <td>{{ teacher[0] }}</td>
            <td>
              {% for class in teacher[1] %}
              {{ class }}{% if not loop.last %},
              {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <form id="teacher-form">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="teacher-name">Name</label>
            <input id="teacher-name" class="form-control" placeholder="E.g. Irma Lazarus">
          </div>

          <div class="form-group col-md-6">
            <label for="teacher-classes">Eligible Classes</label>
            <input id="teacher-classes" class="form-control" placeholder="E.g. Canning, Botulism Awareness">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <input id="teacher-type" type="checkbox">
            <label for="teacher-type">Full-time?</label>
          </div>
        </div>

        <button class="btn btn-primary" id="submit-teacher">Submit</button>

      </form>

      <!--
      <button class="btn btn-primary" id="add-teacher">Add teacher</button>
      -->

      <br>

    </div>

    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/add_teachers.js" type="text/javascript"></script>

  </body>
</html>