<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Classes</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/static/add_classes.css">
</head>
<body>
  <div class="container">
    <h1>Add Classes</h1>
    <div class="classes">
      <div class="card margin" style="width: 18rem;">
        <h5 class="card-header">Math</h5>
        <ul class="list-group list-group-flush classes">
          <li class="list-group-item">Algebra 1</li>
          <li class="list-group-item">Calculus</li>
          <li class="list-group-item">Geometry</li>
        </ul>
      </div>
    </div>

    <button id="add-subj">Add Subject</button>
  </div>

  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/static/add_classes.js" type="text/javascript"></script>
</body>
</html>