{% extends "base.html" %}

{% block data %}
<meta id="classes-data" data-classes="{{ classes }}">
{% endblock %}

{% block title %}
Add Classes
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/add_classes.css">
{% endblock %}

{% block content %}
<h1>Add Classes</h1>

<table id="classes" class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Type</th>
      <th scope="col">Hours</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for class in classes %}
    <tr>
      <td>{{ class[0] }}</td>
      <td>{{ class[1] }}</td>
      <td>{{ class[2] }}</td>
      <td>{{ class[3] }}</td>
      <td>
        <a class="delete-row">
          <i>&#xE872;</i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form id="add-class">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="class-name">Name</label>
      <input id="class-name" class="form-control" placeholder="E.g. American History">
    </div>
    <div class="form-group col-md-4">
      <label for="class-subject">Subject</label>
      <input id="class-subject" class="form-control" placeholder="E.g. Humanities, Culinary Impressions">
    </div>
    <div class="form-group col-md-2">
      <label for="class-type">Type</label>
      <input id="class-type" class="form-control" placeholder="E.g. Main Lesson">
    </div>
    <div class="form-group col-md-2">
      <label for="class-hours">Hours/Week</label>
      <input id="class-hours" class="form-control" placeholder="E.g. 2, 5, too many">
    </div>
  </div>
  <button id="submit-class" class="btn btn-primary">Submit</button>
</form>

<a class="btn btn-success pull-right" href="/add_teachers">Next</a>
{% endblock %}

{% block scripts %}
<script src="/static/add_classes.js" type="text/javascript"></script>
{% endblock %}
