<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/prefs.css">
  </head>

  <body class="container">
    <header class="header">
      <h1>Enter Preferences</h1>
    </header>

    <div class="sidebar">
      <ul class="list-group teachers">
        <li class="list-group-item">Harrington</li>
        <li class="list-group-item">Lambert</li>
        <li class="list-group-item">Baker</li>
        <li class="list-group-item">FitzGibbon</li>
        <li class="list-group-item">Farais</li>
        <li class="list-group-item">Bliquez</li>
        <li class="list-group-item">Germain</li>
        <li class="list-group-item">Landers</li>
        <li class="list-group-item">Hutchen</li>
        <li class="list-group-item">Krausz</li>
        <li class="list-group-item">Wahanik</li>
        <li class="list-group-item">Elam</li>
      </ul>
    </div>

    <div class="main">
      <div class="card margin">
        <h5 class="card-header">Math</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">Algebra 1</li>
            <li class="list-group-item">Calculus</li>
            <li class="list-group-item">Geometry</li>
          </ul>
      </div>

      <div class="card margin">
        <h5 class="card-header">Sciences</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">Physics</li>
            <li class="list-group-item">Biology</li>
            <li class="list-group-item">Chemistry</li>
          </ul>
      </div>

      <div class="card margin">
        <h5 class="card-header">Humanities</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">American History</li>
            <li class="list-group-item">World History</li>
            <li class="list-group-item">Current Events</li>
          </ul>
      </div>

      <div class="card margin">
        <h5 class="card-header">Music</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">World Music</li>
            <li class="list-group-item">Orchestra</li>
            <li class="list-group-item">Choir</li>
          </ul>
      </div>

      <div class="card margin">
        <h5 class="card-header">Art</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">Painting</li>
            <li class="list-group-item">Sculpture</li>
            <li class="list-group-item">Block Printing</li>
          </ul>
      </div>

      <div class="card margin">
        <h5 class="card-header">Language</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">Spanish</li>
            <li class="list-group-item">Mandarin</li>
            <li class="list-group-item">Arabic</li>
          </ul>
      </div>

      <div class="card margin">
        <h5 class="card-header">PE</h5>
          <ul class="list-group list-group-flush classes">
            <li class="list-group-item">Eurythmy</li>
            <li class="list-group-item">Jai Alai</li>
            <li class="list-group-item">Games</li>
          </ul>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="/static/prefs.js" type="text/javascript"></script>

  </body>
</html>