{% extends "base.html" %}

{% block data %}
<meta id="class-prefs-data" data-class-prefs="{{ prefs }}">
<meta id="teachers-data" data-teachers="{{ teachers }}">
<meta id="classes-data" data-classes="{{ classes }}">
{% endblock %}

{% block title %}
Preferences
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/prefs.css">
{% endblock %}

{% block content %}
<header class="header">
  <h1>Enter Preferences</h1>
</header>

<div class="sidebar">
  <ul class="list-group teachers">
    {% for teacher in teachers %}
    <li class="list-group-item">{{ teacher[0] }}</li>
    {% endfor %}
  </ul>
</div>

<div class="main">

  {% set subjects = [] %}
  {% for class in classes %}
  {% if class[1] not in subjects %}
  {% do subjects.append(class[1]) %}
  <div class="card margin">
    <h5 class="card-header">{{ class[1] }}</h5>
    <ul class="list-group list-group-flush classes">
      {% for item in classes %}
      {% if item[1] == class[1] %}
      <li class="list-group-item" id="{{ item[4] }}">{{ item[0] }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="footer">
  <a class="btn btn-success pull-right" href="#">Create schedule!</a>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/prefs.js" type="text/javascript"></script>
{% endblock %}

